<div class="container-fluid">
  <br />
  <div class="card-deck">
    <div
      class="card card-container m-2"
      style="width: 18rem"
      *ngFor="let movie of movies"
    >
      <img
        class="card-img-top card-img"
        [src]="'assets/' + movie.image + '.png'"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text text-center">{{ movie.description }}</p>
        <a href="#" class="btn btn-primary text-center">Detalles</a>
      </div>
    </div>
  </div>
</div>
