<div class="container-fluid">
  <br />
  <div class="card-deck">
    <div
      class="card card-container m-2"
      style="width: 18rem"
      *ngFor="let movie of moviesAsp"
    >
      <img
        class="card-img-top card-img"
        [src]="'assets/' + movie.image + '.png'"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.name }}</h5>
        <p class="card-text text-center">{{ movie.description }}</p>
        <button
          type="button"
          class="btn btn-primary btn-sm"
          (click)="openModal(longContent, 'lg')"
        >
          Detalles

          <ng-template #longContent let-modal>
            <div class="modal-header">
              <h4 class="modal-title">Detalles</h4>
              <button
                type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-horizontal">
                  <div class="img-square-wrapper card-container-detail">
                    <img
                      class="card-img-detail"
                      [src]="'assets/' + movie.image + '.png'"
                      alt="Card image cap"
                    />
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Sinapsis</h4>
                    <p class="card-text">
                      {{ movie.description }}
                    </p>
                  </div>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Actores</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Premios</h4>
                  <p class="card-text">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                </div>

                <div class="card-footer">
                  <small class="text-muted">Sala:{{ movie.name }} </small>&nbsp;
                  <small class="text-muted">Horario: {{ movie.schedule }}</small
                  >&nbsp;
                  <small class="text-muted"
                    >Duracion: {{ movie.duration }} </small
                  >&nbsp;
                </div>
              </div>
            </div>
            <div>
              <div class="modal-footer">
                <button
                  class="btn btn-primary float-right"
                  (click)="creteBooking(movie.name, movie.code)"
                >
                  Seleccionar
                </button>
              </div>
            </div>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
