.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
}

.card-img {
  height: 350px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.btn-detail {
  display: flex;
  justify-content: right;
  align-items: center;
}

.card-img-detail {
  height: 250px;
}

.card-container-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
