
.form-container{
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
  border: 0.5px solid;
  border-radius: 3px;
  padding: 5px;
  box-shadow: 5px 10px #888888;
}

.title-container{
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
}

.form-group{
  margin:1rem 0;
}

.btn-submit{
margin: auto;
}
