<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive-xl">
        <table class="table table-hover table-wrapper-scroll-y">
          <thead>
            <tr class="bg-dark text-white">
              <th>Número</th>
              <th>Sala</th>
              <th>Descripción</th>
              <th>Película</th>
              <th>Horario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let salon of salonsAsp">
              <!-- <td><input   type="text" class="form-control"
                            [(ngModel)]="movie.Name"
                            [ngbTypeahead]="search"
                            [resultFormatter]="resultFormatListValue"
                            [inputFormatter]="inputFormatListValue"/></td> -->
              <td>{{ salon.code }}</td>
              <td>{{ salon.name }}</td>
              <td>{{ salon.description }}</td>
              <td>{{ salon.movie }}</td>
              <td>{{ salon.schedule }}</td>

              <td>
                <button
                  type="button"
                  class="btn btn-warning btn-sm"
                  (click)="modal.open(longContent)"
                >
                  Programación

                  <ng-template #longContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Horarios</h4>
                      <button
                        type="button"
                        class="close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Número</label>
                          <input
                            disabled
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            [(ngModel)]="salon.code"
                          />
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Sala</label>
                          <input
                          disabled
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Sala"
                            [(ngModel)]="sala"
                          />
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Día</label>

                          <select
                            class="form-select"
                            aria-label="Default select example"
                            [(ngModel)]="hora"
                          >
                            <option
                              *ngFor="let dia of dias"
                              [value]="dia"
                            >
                              {{ dia }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Hora</label>

                          <select
                            class="form-select"
                            aria-label="Default select example"
                            [(ngModel)]="hora"
                          >
                            <option
                              *ngFor="let horas of horarios"
                              [value]="horas"
                            >
                              {{ horas}}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Película</label>
                          <select
                            class="form-select"
                            aria-label="Default select example"
                            [(ngModel)]="peli"
                          >
                            <option
                              *ngFor="let movie of moviesAsp"
                              [ngValue]="movie.name"
                            >
                              {{ movie.name }}
                            </option>
                          </select>
                        </div>

                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="updateSala(salon.code, salon.name)"
                        >
                          Guardar
                        </button>
                      </div>
                    </div>
                    <div class="modal-footer">

                    </div>
                  </ng-template>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
