
.form-container{
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  flex-direction: column;
}

.form-group{
  margin:1rem 0;
}

.btn-submit{
margin: auto;
}
.modal-header .modal-body .form-group{
  font-family: -apple-system, BlinkMacSystemFont, Montserrat, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 14px;
}

